%h3 Edit Season
.user-form
  = simple_form_for @season, url: admin_season_path(@season) do |f|
    = f.input :name
    = f.input :active
    = f.input :allow_entries
    = f.input :rules
    = f.button :submit