%h1 Seasons

%table.table.table-striped
  %tr
    %th ID
    %th Name
    %th Active
    %th

  - @seasons.each do |season|
    %tr
      %td=season.id
      %td=season.name
      %td=season.active
      %td
        = link_to 'Edit', edit_admin_season_path(season)
        = link_to 'Delete', admin_season_path(season), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Entry', new_admin_season_path, class: 'btn btn-primary'
