%h1 Entries

%table.table.table-striped
  %tr
    %th Season
    %th ID
    %th Owner
    %th Email
    %th Players
    %th

  - @entries.each do |entry|
    %tr
      %td=entry.season.name
      %td=entry.id
      %td=entry.user.name
      %td=entry.user.email
      %td
        -entry.players.each do |player|
          ="#{player.name} | "
      %td
        = link_to 'Show', entry
        -if Season.active == entry.season
          = link_to 'Delete', entry, :method => :delete, :data => { :confirm => 'Are you sure?' }
          = link_to "Edit","/entries/#{entry.id}/edit#?id=#{entry.id}"

%br

= link_to 'New Entry', new_entry_path, class: 'btn btn-primary' unless @admin
