.panel#ie-warning(style="display: none;" )
  .panel-body
    %h3(style="color: red;" ) Warning - You are using Internet Explorer.  IE is not supported, please use another browsers (Chrome, Firefox, Safari, etc.)
%h1 New Entry

.new-entry(ng-controller="NewEntry")
  %table.table.table-bordered.table-striped
    %tr(ng-repeat="pick in picks | orderBy:'salary'")
      %td
        {{pick.name}}
      %td
        {{pick.salary | currency:"$":0}}
      %td
        %a(ng-click="removePlayer(pick.id)")
          Remove
    %tr
      %td
        %b
          Total ({{picks.length}}/8):
      %td
        {{total() | currency:"$":0}}
        %span.label.label-danger(ng-show="total() > 7000000")
          Too much!
        %span
          | Remaining {{remaining() | currency:"$":0}}
  %form.form(ng-submit="createNew()")
    .row
      .col-md-4
        %ui-select(ng-model="selected_player.selected" theme="bootstrap" required)
          %ui-select-match(placeholder="Select Player") {{$select.selected.name}} {{$select.selected.salary | currency:"$":0}}
          %ui-select-choices(repeat="player.id as player in players | filter: $select.search")
            %div(ng-bind-html="player.name | highlight: $select.search")
            %small
              Salary: {{player.salary | currency:"$":0}}
      .col-md-8
        %a.btn.btn-primary(ng-click="addPlayer()" ng-disabled="!selected_player.selected")
          Add
        %span.label.label-danger(ng-show="error")
          {{error}}
    %br
    %button.btn.btn-primary(type="submit" ng-disabled="total() > 7000000 || picks.length != 8")
      Submit

= link_to 'Back', entries_path
