.panel
  .panel-heading
    %h3
      Entry
      =@entry.id
    %h4
      Owner:
      =@entry.user.name
  .panel-body
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Name
          %th Salary
      %tbody
        -(1..8).each do |i|
          -if @entry.send("player#{i}")
            %tr
              %td=@entry.send("player#{i}").name
              %td=number_to_currency(@entry.send("player#{i}").salary, precision: 0)
        %tr
          %td
            %b Total
          %td
            %b=number_to_currency(@entry.total, precision: 0)
= link_to 'Back', admin_entries_path
