.container-fluid
  %table.table.table-striped.table-bordered
    %tr
      %th
        Action
    %tr
      %td
        =link_to "Edit Players", players_path, class: 'btn btn-primary'
    %tr
      %td
        =link_to "Export Entries", export_entries_path, class: 'btn btn-primary'
    %tr
      %td
        =link_to "View All Entries", admin_entries_path, class: 'btn btn-primary'
    %tr
      %td
        =link_to "View All Users", admin_users_path, class: 'btn btn-primary'
    %tr
      %td
        =link_to "Edit Seasons", admin_seasons_path, class: 'btn btn-primary'

  %h2 Import Tournaments
  = form_tag admin_import_tournaments_path, multipart: true do
    = file_field_tag :file
    = submit_tag "Import", class: 'btn btn-primary', data: {disable_with: 'Importing...'}