<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
  <meta charset="utf-8">
  <title>AngularJS ui-select</title>

  <%= stylesheet_link_tag    'application', media: 'all'%>

  <!-- ui-select files -->
  <%= javascript_include_tag :demo %>

  <style>
    body {
      padding: 15px;
    }

  </style>
</head>

<body ng-controller="DemoCtrl">

  <button class="btn btn-default btn-xs" ng-click="enable()">Enable ui-select</button>
  <button class="btn btn-default btn-xs" ng-click="disable()">Disable ui-select</button>
  <button class="btn btn-default btn-xs" ng-click="clear()">Clear ng-model</button>

  <h3>Select2 theme</h3>
  <p>Selected: {{player.selected}}</p>
  <ui-select ng-model="player.selected" theme="bootstrap" ng-disabled="disabled" style="min-width: 300px;" title="Choose a player">
    <ui-select-match placeholder="Select a player in the list...">{{$select.selected.salary}}</ui-select-match>
    <ui-select-choices repeat="player.salary as player in players | propsFilter: {salary: $select.search}">
      <div ng-bind-html="player.salary | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>

  <h3>Select2 theme</h3>
  <p>Selected: {{person.selected}}</p>
  <ui-select ng-model="person.selected" theme="bootstrap" ng-disabled="disabled" style="min-width: 300px;" title="Choose a person">
    <ui-select-match placeholder="Select a person in the list or search his name/age...">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="person.name as person in peopleAsync | propsFilter: {name: $select.search, age: $select.search}">
      <div ng-bind-html="person.name | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
  <br>
  <br>
  <br>
  <button class="btn btn-primary"ng-click="player.selected = 'wladimir@email.com'">Change Model</button>
  <span>(player.selected = 'wladimir@email.com') </span>

</body>

</html>