.container-fluid
  %h3
    ="Welcome to the #{Time.now.year} Golf Pool"
  %p
    To get started create an entry.
    =link_to "New Entry", new_entry_path, class: 'btn btn-primary'
  %p
    =render 'rules'
    =link_to "Download 2019 Salaries", asset_path('2019salaries.xlsx'), class: "btn btn-primary"