%h1 Schedule
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Date
      %th Tournament
      %th Week
  %tbody
    -Season.active.tournaments.each do |t|
      %tr
        %td=t.start
        %td=t.name
        %td=t.week