%h1 Players

=link_to "Download 2018 Salaries", asset_path('2018salaries.xlsx'), class: "btn btn-primary"
%br
%table.table.table-bordered.table-striped
  %tr
    %th ID
    %th Name
    %th Salary
    %th

  - @players.each do |player|
    %tr
      %td= player.id
      %td= player.name
      %td= number_to_currency player.salary, precision: 0
      %td
        -if current_user.admin?
          = link_to 'Edit', edit_player_path(player)
          = link_to 'Destroy', player, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

-if current_user.admin?
  = link_to 'New Player', new_player_path, class: 'btn btn-primary'

  %h2 Import Players
  =link_to "Example file", asset_path('salaries.xlsx')
  = form_tag import_players_path, multipart: true do
    = file_field_tag :file
    = submit_tag "Import", class: 'btn btn-primary', data: {disable_with: 'Importing...'}