%h1 Entries

%table.table.table-striped
  %tr
    %th ID
    %th Owner
    %th Players
    %th

  - @entries.each do |entry|
    %tr
      %td=entry.id
      %td=entry.user.name
      %td
        -entry.players.each do |player|
          ="#{player.name} | "
      %td
        = link_to 'Show', admin_entry_path(entry)
        = link_to 'Delete', admin_entry_path(entry), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Entry', new_entry_path, class: 'btn btn-primary' unless @admin
