%h3
  Edit
  =@user.name
.user-form
  = simple_form_for @user, url: admin_user_path(@user) do |f|
    = f.input :name, required: false
    = f.input :email
    = f.input :password
    = f.button :submit