%h1 Users

%table.table.table-striped
  %tr
    %th ID
    %th Name
    %th Entry Count
    %th
  -@users.each do |user|
    %tr
      %td=user.id
      %td=user.name
      %td=user.entries.count
      %td
        =link_to "Edit", edit_admin_user_path(user), class: 'btn btn-primary'
        |
        =link_to "Delete", admin_user_path(user), method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'}