%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} The Golf Pool
    / Collect the nav links, forms, and other content for toggling
    #navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => "/entries"} My Entries
        %li
          %a{href: "/players"}
            Players
        %li
          %a{href: "/schedule"}
            Schedule    
        -if user_admin?
          %li
            %a{:href => "/admin"} Admin
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            -if user_signed_in?
              ="#{current_user.name}"
            -else
              Account
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            -if user_signed_in?
              %li
                = link_to('Logout', destroy_user_session_path, :method => :delete)
                = link_to('Edit', edit_user_registration_path)
            -else
              %li
                = link_to('Login', new_user_session_path)
    / /.navbar-collapse
  / /.container-fluid
.container
  =render 'flash_messages'
