<!DOCTYPE html>
<html>
<head>
  <title>GolfPool</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag :modernizr %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="golf-pool">
<%= render 'header' %>
<div class="container">
  <%= yield %>
</div>


</body>
</html>
